# Understanding Hired Rides in NYC

_[Project prompt](https://docs.google.com/document/d/1VERPjEZcC1XSs4-02aM-DbkNr_yaJVbFjLJxaYQswqA/edit#)_

_This scaffolding notebook may be used to help setup your final project. It's **totally optional** whether you make use of this or not._

_If you do use this notebook, everything provided is optional as well - you may remove or add prose and code as you wish._

_Anything in italics (prose) or comments (in code) is meant to provide you with guidance. **Remove the italic lines and provided comments** before submitting the project, if you choose to use this scaffolding. We don't need the guidance when grading._

_**All code below should be consider "pseudo-code" - not functional by itself, and only a suggestion at the approach.**_

## Requirements

_A checklist of requirements to keep you on track. Remove this whole cell before submitting the project._

* Code clarity: make sure the code conforms to:
    * [ ] [PEP 8](https://peps.python.org/pep-0008/) - You might find [this resource](https://realpython.com/python-pep8/) helpful as well as [this](https://github.com/dnanhkhoa/nb_black) or [this](https://jupyterlab-code-formatter.readthedocs.io/en/latest/) tool
    * [ ] [PEP 257](https://peps.python.org/pep-0257/)
    * [ ] Break each task down into logical functions
* The following files are submitted for the project (see the project's GDoc for more details):
    * [ ] `README.md`
    * [ ] `requirements.txt`
    * [ ] `.gitignore`
    * [ ] `schema.sql`
    * [ ] 6 query files (using the `.sql` extension), appropriately named for the purpose of the query
    * [x] Jupyter Notebook containing the project (this file!)
* [x] You can edit this cell and add a `x` inside the `[ ]` like this task to denote a completed task

## Project Setup

In [ ]:
# all import statements needed for the project, for example:



import math
import geopandas as gpd
from math import sin, cos, asin, pi, sqrt
import bs4
import matplotlib.pyplot as plt
import pandas as pd
import requests
import sqlalchemy as db
import numpy as np
import warnings
import re
warnings.filterwarnings('ignore')

In [2]:
# constants we need for processing data:

TAXI_URL = "https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page"
UBER_CSV = "uber_rides_sample.csv"




NEW_YORK_BOX_COORDS = ((40.560445, -74.242330), (40.908524, -73.717047))

DATABASE_URL = "sqlite:///project.db"
DATABASE_SCHEMA_FILE = "schema.sql"
QUERY_DIRECTORY = "queries"

## Part 1: Data Preprocessing

_A checklist of requirements to keep you on track. Remove this whole cell before submitting the project. The order of these tasks aren't necessarily the order in which they need to be done. It's okay to do them in an order that makes sense to you._

* [ ] Define a function that calculates the distance between two coordinates in kilometers that **only uses the `math` module** from the standard library.
* [ ] Taxi data:
    * [ ] Use the `re` module, and the packages `requests`, BeautifulSoup (`bs4`), and (optionally) `pandas` to programmatically download the required CSV files & load into memory.
    * You may need to do this one file at a time - download, clean, sample. You can cache the sampling by saving it as a CSV file (and thereby freeing up memory on your computer) before moving onto the next file. 
* [ ] Weather & Uber data:
    * [ ] Download the data manually in the link provided in the project doc.
* [ ] All data:
    * [ ] Load the data using `pandas`
    * [ ] Clean the data, including:
        * Remove unnecessary columns
        * Remove invalid data points (take a moment to consider what's invalid)
        * Normalize column names
        * (Taxi & Uber data) Remove trips that start and/or end outside the designated [coordinate box](http://bboxfinder.com/#40.560445,-74.242330,40.908524,-73.717047)
    * [ ] (Taxi data) Sample the data so that you have roughly the same amount of data points over the given date range for both Taxi data and Uber data.
* [ ] Weather data:
    * [ ] Split into two `pandas` DataFrames: one for required hourly data, and one for the required daily daya.
    * [ ] You may find that the weather data you need later on does not exist at the frequency needed (daily vs hourly). You may calculate/generate samples from one to populate the other. Just document what youâ€™re doing so we can follow along.

### Calculating distance
_Using the latituede/longitude given in the Yellow Taxi Dataframe to calculate the route distance._

In [4]:
def calculate_distance(from_coord, to_coord):
    """
    Calculate the distance between two coordinates
    
    The function takes in 2 argumants: "from_coord" and "to_coord"
    "from_coord": columns 'pickup_latitude' and 'pickup_longitude' from datarame
    "to_coord":  columns 'dropoff_latitude' and 'dropoff_longitude' from datarame
    
    RETURN: an array of calculated distances (in km)
    """
    # first change the latitude and longitude into radians
    lat1 = from_coord['pickup_latitude'] *pi/180
    lon1 = from_coord['pickup_longitude'] *pi/180
    lat2 = to_coord['dropoff_latitude']*pi/180
    lon2 = to_coord['dropoff_longitude']*pi/180
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    
    # using Haversine formula to calculate distance
    a = ((dlat/2).map(sin))**2 + (lat1.map(cos)) * (lat2.map(cos)) * ((dlon/2).map(sin))**2
    
    # suppose the radius of earth is 6371 km
    distance = 6371*2 * (a.map(sqrt)).map(asin)
    
    # round the distance with 2 decimals
    return round(distance, 2)

In [5]:
def add_distance_column(dataframe):
    """
    Add one column 'distance' which calculates taxi route distance into 'dataframe'
    
    The function takes one argument: 'dataframe'
    Use columns "pickup_latitude" and "pickup_longitude" to create argument "from_coord"
    Use columns "dropoff_latitude" and "dropoff_longitude" to create argument to_coord"
    
    RETURN: dataframe with new column 'distance' 
    """
    # generate 'from_coord' & 'to_coord'
    from_coord = dataframe[['pickup_latitude', 'pickup_longitude']]
    to_coord = dataframe[['dropoff_latitude', 'dropoff_longitude']]
    
    # add 'distance' into dataframe
    dataframe['distance'] = calculate_distance(from_coord, to_coord)
    
    return dataframe

### Processing Taxi Data

_Obtain Yellow Taxi Data from 2009-01 to 2015-06, then clean and combine all dataframes._

_Firstly we utilize `re`, `requests` and `BeautifulSoup` module to find specific data._

_Then we use `pandas` to load and clean the monthly data according to our rules._

_Finally we combine each monthly data into a giant one._

In [6]:
def find_taxi_csv_urls():
    """
    Get all the URLs of Taxi Data
    RETURN: a lits of links that download parquet files of Taxi Data
    """
    y = []
    links = []
    # get response from HTML
    response = requests.get(TAXI_URL)
    html = response.content
    
    # use bs4 to parse html and find Yellow Taxi urls
    soup = bs4.BeautifulSoup(html, "html.parser")
    yellow = soup.find_all("a", attrs = {"title":"Yellow Taxi Trip Records"})
    y.append([a["href"] for a in yellow])
    
    # use regex pattern to find desired URLs from 'yellow taxi trip records'
    pattern = re.compile(".*(2009|201[0-4]|2015-0[1-6]).*")
    for i in y[0]:
        match = re.match(pattern, i)
        if match != None:
            links.append(i)
    return links

In [7]:
def get_and_clean_month_taxi_data(url):
    """
    The function takes in one url from Internet
    Obtain dataframe from url of every given month and clean the df
    
    RETURN: a cleaned dataframe
    """   
    # Load shp file of Taxi Zones
    g = gpd.read_file(filename='taxi_zones.zip', engine='fiona')
    g = g.to_crs(4326)

    # use the center of the zones as a point to look up the coordinates.
    g['longitude'] = g.centroid.x
    g['latitude'] = g.centroid.y

    # remove unnecessary columns 
    # create mapping methods for latitude & longitude
    # aim to create lat & longitude which do not exist in some taxi data
    g = g[['LocationID', 'longitude', 'latitude', 'zone', 'borough']]
    lat_map = dict(zip(g['LocationID'], g['latitude']))
    lon_map = dict(zip(g['LocationID'], g['longitude']))
    
    df = pd.read_parquet(url)
    
    # process dataframe which only has LocationIDs 
    # match the LocationID in 'df' with dataframe 'g'
    # add 4 new columns to 'df' after matching
    if 'DOLocationID' in df:
        df['pickup_latitude']  = df['PULocationID'].map(lat_map)
        df['pickup_longitude'] = df['PULocationID'].map(lon_map)
        df['dropoff_latitude'] = df['DOLocationID'].map(lat_map)
        df['dropoff_longitude']= df['DOLocationID'].map(lon_map)

    # normalizing column names, according to UBER_DATA column names
    df = df.rename(columns={'tpep_pickup_datetime':'pickup_datetime', 
                            'Trip_Pickup_DateTime':'pickup_datetime', 
                            'Tip_Amt':'tip_amount',
                            'Fare_Amt':'fare_amount', 'Passenger_Count':'passenger_count',
                            'Start_Lon':'pickup_longitude','Start_Lat':'pickup_latitude', 
                            'End_Lon':'dropoff_longitude', 'End_Lat':'dropoff_latitude',           
                            })
        
    # remove invalid ponits, fare, distance and passenger must be positive
    df = df[df['fare_amount'] > 0]
    df = df[(df['tip_amount'] >= 0)]
    df = df[df['passenger_count'] > 0]
    df = df[df['pickup_latitude']!=df['dropoff_latitude']]
    df = df[df['pickup_longitude']!=df['dropoff_longitude']]
    df = df[abs(df['pickup_longitude']-df['dropoff_longitude'])>0.001]
        
    # removing trips that start and/or end outside of the BOX
    df = df[df['pickup_latitude'] >= NEW_YORK_BOX_COORDS[0][0]]
    df = df[df['pickup_latitude'] <= NEW_YORK_BOX_COORDS[1][0]]
    df = df[df['pickup_longitude'] >= NEW_YORK_BOX_COORDS[0][1]]
    df = df[df['pickup_longitude'] <= NEW_YORK_BOX_COORDS[1][1]]
        
    df = df[df['dropoff_latitude'] >= NEW_YORK_BOX_COORDS[0][0]]
    df = df[df['dropoff_latitude'] <= NEW_YORK_BOX_COORDS[1][0]]
    df = df[df['dropoff_longitude'] >= NEW_YORK_BOX_COORDS[0][1]]
    df = df[df['dropoff_longitude'] <= NEW_YORK_BOX_COORDS[1][1]]
    
    # remove unnecessary columns, only keep 6 columns we need
    df = df[['pickup_datetime','tip_amount',
             'pickup_latitude','pickup_longitude',
             'dropoff_latitude','dropoff_longitude',
            ]]
    # sampling from data to match the amount of "taxi_data" with "uber_data" 
    df = df.sample(n=round(185444/78))
    
    # using appropriate column type
    df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
    df.iloc[:,1:6] = df.iloc[:,1:6].astype('float32')     
    
    return df

In [8]:
def get_and_clean_taxi_data():
    """
    The function generate a list of Yellow Taxi urls
    For each url, obtain the dataframe from url
    Then clean dataframe and add 'distance' column
    In the end we join each month's dataframe to a giant one
    
    RETURN: a huge dataframe contains cleaned data from every month
    
    """
    all_taxi_dataframes = []
    
    # acquire list of Yellow Taxi urls
    all_parquet = find_taxi_csv_urls()
    
    # clean dataframe and add columns
    for i in all_parquet:
        
        # read local files by extracting file name from url
        file = i.split('/')[-1]
        dataframe = get_and_clean_month_taxi_data(file)
        add_distance_column(dataframe)  
        all_taxi_dataframes.append(dataframe)
        print(f'done with {file}')
    
    
    # combine to a giant dataframe
    taxi_data = pd.concat(all_taxi_dataframes)
    
    return taxi_data

### Processing Uber Data

_Processing the Uber Data, make the column type and column names the same pattern as Taxi Data._

In [9]:
def load_and_clean_uber_data(csv_file):
    """
    The funcion takes one argument, the csv file
    We do the same procedure as cleaning Taxi Data
    We aim to obtain dataframe in the same colmn type as Taxi Data
    
    RETURN: a cleaned dataframe
    """
    df = pd.read_csv(csv_file)
    
    # removing trips that start and/or end outside of the BOX
    df = df[df['pickup_latitude'] >= NEW_YORK_BOX_COORDS[0][0]]
    df = df[df['pickup_latitude'] <= NEW_YORK_BOX_COORDS[1][0]]
    df = df[df['pickup_longitude'] >= NEW_YORK_BOX_COORDS[0][1]]
    df = df[df['pickup_longitude'] <= NEW_YORK_BOX_COORDS[1][1]]
        
    df = df[df['dropoff_latitude'] >= NEW_YORK_BOX_COORDS[0][0]]
    df = df[df['dropoff_latitude'] <= NEW_YORK_BOX_COORDS[1][0]]
    df = df[df['dropoff_longitude'] >= NEW_YORK_BOX_COORDS[0][1]]
    df = df[df['dropoff_longitude'] <= NEW_YORK_BOX_COORDS[1][1]]
    

    # remove invalid ponits
    df = df[df['fare_amount']>0]
    df = df[df['passenger_count'] > 0]
    df = df[df['pickup_latitude']!=df['dropoff_latitude']]
    df = df[df['pickup_longitude']!=df['dropoff_longitude']]
    df = df[abs(df['pickup_longitude']-df['dropoff_longitude'])>0.001]
    
    # remove unnecessary columns
    df = df[['pickup_datetime',
             'pickup_latitude','pickup_longitude',
             'dropoff_latitude','dropoff_longitude',
            ]]
        
    # using appropriate column type
    df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
    df.iloc[:,1:5] = df.iloc[:,1:5].astype('float32')
        
    return df

In [10]:
def get_uber_data():
    """
    The function loads and cleans Uber_data
    Calculate and Add 'distance' column to uber dataframe
    
    RETURN: cleaned dataframe with new column 'distance'
    """
    uber_dataframe = load_and_clean_uber_data(UBER_CSV)
    add_distance_column(uber_dataframe)
    return uber_dataframe

### Processing Weather Data

_Fecth Weather Data from 2009 to 2015 to clean._

_Use `pandas` module to clean and fill missing values_

In [11]:
def clean_month_weather_data_hourly(csv_file):
    """
    Takes in one argument: the hourly csv data
    We clean the dataframe by dropping NaN value in WindSpeed
    and filling NaN as 0 in precipitation column
    Also change the DATE to pd.datetime type
    
    RETURN: a cleaned dataframe
    """
    # read the csv file 
    df=pd.read_csv(csv_file)
    
    # clean the data
    
    # remove all columns that contain the world 'Daily'
    df=df.drop(df.filter(regex='Daily').columns, axis=1)
    
    # remove all columns that have all NaN values
    df=df.dropna(axis=1, how="all")
    
    # remove all columns with only zero values
    df.loc[:, (df != 0).any(axis=0)]
    
    # fill missing NaN value and drop if failed to fill
    if df['HourlyWindSpeed'] is 'NaN':
        df['HourlyWindSpeed'] = df['DailyAverageWindSpeed']/24
        df['HourlyWindSpeed'].apply(lambda x: round(x,2))

    # remove unnecessary columns
    df = df[['DATE', 'HourlyWindSpeed', 'HourlyPrecipitation']]
    df = df[df['HourlyPrecipitation']!= 'M']

    # treat trace amounnt precipitation as 0; change NaN to 0
    # change those numbers with 's' into float
    df['HourlyPrecipitation'] = df['HourlyPrecipitation'].replace({pd.np.nan: 0, 'T': 0})
    df['HourlyPrecipitation'] = df['HourlyPrecipitation'].apply(
                                                                lambda x: x.replace('s', '') 
                                                                if isinstance(x, str) else x
                                                                )
    # use appropriate column type
    df['DATE'] = pd.to_datetime(df['DATE'])
    df['HourlyPrecipitation'] = df['HourlyPrecipitation'].astype(float)
    df.dropna(inplace=True)
    
    return df

In [12]:
def clean_month_weather_data_daily(csv_file):
    """
    Takes in one argument: the daily csv data
    Calculate the mean WindSpeed & Precipitation within each day and insert
    Also change the DATE to pd.datetime type
    
    RETURN: a cleaned daily dataframe
    """
    #read the csv file 
    df=pd.read_csv(csv_file)
    
    # use appropriate column type
    df['DATE'] = pd.to_datetime(df['DATE'])
    
    #remove all columns that have all NaN values
    df = df.dropna(axis=1, how="all")
    df = df[df['HourlyPrecipitation']!= 'M']

    # treat trace amounnt precipitation as 0; change NaN to 0
    # change those numbers with 's' into float
    df['HourlyPrecipitation'] = df['HourlyPrecipitation'].replace({pd.np.nan: 0, 'T': 0})
    df['HourlyPrecipitation'] = df['HourlyPrecipitation'].apply(
                                                                lambda x: x.replace('s', '') 
                                                                if isinstance(x, str) else x
                                                                )
    df['HourlyPrecipitation'] = df['HourlyPrecipitation'].astype(float)
    
    #remove all columns with only zero values
    df.loc[:, (df != 0).any(axis=0)]
    
    # extract part of the date, without hour 
    df['DATE'] = df['DATE'].apply(lambda x: x.date())

    # Calculate the mean of the Hourly WindSpeed & Precipitation 
    DailyWind = df.groupby('DATE')['HourlyWindSpeed'].mean()
    DailyPreci = df.groupby('DATE')['HourlyPrecipitation'].mean()
    
    #combine duplicated DATE and merge the mean into new dataframe
    df1 = df.drop_duplicates(subset=['DATE'])
    df1 = df1[['DATE']]
    df1 = pd.merge(df1, DailyWind, on='DATE')
    df1 = pd.merge(df1, DailyPreci, on='DATE')
    
    # normalizing column name
    df1.rename(columns={'HourlyWindSpeed':'DailyWindSpeed',
                        'HourlyPrecipitation':'DailyPrecipitation'},inplace=True
              )
    
    # round to decimals 2
    df1['DailyWindSpeed'] = df1['DailyWindSpeed'].round(2)
    df1['DailyPrecipitation'] = df1['DailyPrecipitation'].round(2)
    df1['DATE'] = pd.to_datetime(df1['DATE'])
    
    return df1

In [13]:
def load_and_clean_weather_data():
    hourly_dataframes = []
    daily_dataframes = []
    
    
    
    # add some way to find all weather CSV files
    # or just add the name/paths manually
    
    #comprehension list to generate all the csv files name needed
    weather_csv_files = [f"{year}_weather.csv" for year in range(2009,2016)]
    
    for csv_file in weather_csv_files:
        hourly_dataframe = clean_month_weather_data_hourly(csv_file)
        daily_dataframe = clean_month_weather_data_daily(csv_file)
        hourly_dataframes.append(hourly_dataframe)
        daily_dataframes.append(daily_dataframe)
        
    # create two dataframes with hourly & daily data from every month
    hourly_data = pd.concat(hourly_dataframes)
    daily_data = pd.concat(daily_dataframes)
    
    return hourly_data, daily_data

### Process All Data

_This is where you can actually execute all the required functions._

_**TODO:** Write some prose that tells the reader what you're about to do here._

In [14]:
%%time
taxi_data = get_and_clean_taxi_data()
uber_data = get_uber_data()
hourly_data, daily_data = load_and_clean_weather_data()

done with yellow_tripdata_2015-01.parquet
done with yellow_tripdata_2015-02.parquet
done with yellow_tripdata_2015-03.parquet
done with yellow_tripdata_2015-04.parquet
done with yellow_tripdata_2015-05.parquet
done with yellow_tripdata_2015-06.parquet
done with yellow_tripdata_2014-01.parquet
done with yellow_tripdata_2014-02.parquet
done with yellow_tripdata_2014-03.parquet
done with yellow_tripdata_2014-04.parquet
done with yellow_tripdata_2014-05.parquet
done with yellow_tripdata_2014-06.parquet
done with yellow_tripdata_2014-07.parquet
done with yellow_tripdata_2014-08.parquet
done with yellow_tripdata_2014-09.parquet
done with yellow_tripdata_2014-10.parquet
done with yellow_tripdata_2014-11.parquet
done with yellow_tripdata_2014-12.parquet
done with yellow_tripdata_2013-01.parquet
done with yellow_tripdata_2013-02.parquet
done with yellow_tripdata_2013-03.parquet
done with yellow_tripdata_2013-04.parquet
done with yellow_tripdata_2013-05.parquet
done with yellow_tripdata_2013-06.parquet
done with yellow_tripdata_2013-07.parquet
done with yellow_tripdata_2013-08.parquet
done with yellow_tripdata_2013-09.parquet
done with yellow_tripdata_2013-10.parquet
done with yellow_tripdata_2013-11.parquet
done with yellow_tripdata_2013-12.parquet
done with yellow_tripdata_2012-01.parquet
done with yellow_tripdata_2012-02.parquet
done with yellow_tripdata_2012-03.parquet
done with yellow_tripdata_2012-04.parquet
done with yellow_tripdata_2012-05.parquet
done with yellow_tripdata_2012-06.parquet
done with yellow_tripdata_2012-07.parquet
done with yellow_tripdata_2012-08.parquet
done with yellow_tripdata_2012-09.parquet
done with yellow_tripdata_2012-10.parquet
done with yellow_tripdata_2012-11.parquet
done with yellow_tripdata_2012-12.parquet
done with yellow_tripdata_2011-01.parquet
done with yellow_tripdata_2011-02.parquet
done with yellow_tripdata_2011-03.parquet
done with yellow_tripdata_2011-04.parquet
done with yellow_tripdata_2011-05.parquet
done with yellow_tripdata_2011-06.parquet
done with yellow_tripdata_2011-07.parquet
done with yellow_tripdata_2011-08.parquet
done with yellow_tripdata_2011-09.parquet
done with yellow_tripdata_2011-10.parquet
done with yellow_tripdata_2011-11.parquet
done with yellow_tripdata_2011-12.parquet
done with yellow_tripdata_2010-01.parquet
done with yellow_tripdata_2010-02.parquet
done with yellow_tripdata_2010-03.parquet
done with yellow_tripdata_2010-04.parquet
done with yellow_tripdata_2010-05.parquet
done with yellow_tripdata_2010-06.parquet
done with yellow_tripdata_2010-07.parquet
done with yellow_tripdata_2010-08.parquet
done with yellow_tripdata_2010-09.parquet
done with yellow_tripdata_2010-10.parquet
done with yellow_tripdata_2010-11.parquet
done with yellow_tripdata_2010-12.parquet
done with yellow_tripdata_2009-01.parquet
done with yellow_tripdata_2009-02.parquet
done with yellow_tripdata_2009-03.parquet
done with yellow_tripdata_2009-04.parquet
done with yellow_tripdata_2009-05.parquet
done with yellow_tripdata_2009-06.parquet
done with yellow_tripdata_2009-07.parquet
done with yellow_tripdata_2009-08.parquet
done with yellow_tripdata_2009-09.parquet
done with yellow_tripdata_2009-10.parquet
done with yellow_tripdata_2009-11.parquet
done with yellow_tripdata_2009-12.parquet
CPU times: user 24min 12s, sys: 20min 33s, total: 44min 46s
Wall time: 39min 4s

In [15]:
taxi_data.to_csv('taxi_data.csv')
uber_data.to_csv('uber_data.csv')

## Part 2: Storing Cleaned Data

We are going to store all the data cleaned before

In [3]:
#let's create a DataBase first
engine = db.create_engine(DATABASE_URL)

In [4]:
# if using SQL (as opposed to SQLAlchemy), define the commands 
# to create your 4 tables/dataframes

#let's create the queries that will create all the tables needed

HOURLY_WEATHER_SCHEMA = """
CREATE TABLE IF NOT EXISTS hourly_weather (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    DATE DATE,
    HourlyWindSpeed FLOAT32,
    HourlyPrecipitation FLOAT32
);
"""

DAILY_WEATHER_SCHEMA = """
CREATE TABLE IF NOT EXISTS daily_weather (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    DATE DATE,
    DailyWindSpeed FLOAT32,
    DailyPrecipitation FLOAT32
);
"""

TAXI_TRIPS_SCHEMA = """
CREATE TABLE IF NOT EXISTS taxi_trips (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    pickup_datetime DATE,
    tip_amount FLOAT32,
    pickup_latitude FLOAT32,
    pickup_longitude FLOAT32,
    dropoff_latitude FLOAT32,
    dropoff_longitude FLOAT32,
    distance FLOAT32
);
"""

UBER_TRIPS_SCHEMA = """
CREATE TABLE IF NOT EXISTS uber_trips (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    pickup_datetime DATE,
    pickup_latitude FLOAT32,
    pickup_longitude FLOAT32,
    dropoff_latitude FLOAT32,
    dropoff_longitude FLOAT32,
    distance FLOAT32
);
 """

In [5]:
# create that required schema.sql file
with open(DATABASE_SCHEMA_FILE, "w") as f:
    f.write(HOURLY_WEATHER_SCHEMA)
    f.write(DAILY_WEATHER_SCHEMA)
    f.write(TAXI_TRIPS_SCHEMA)
    f.write(UBER_TRIPS_SCHEMA)

In [6]:
# create the tables with the schema files
with engine.connect() as connection:
    #open the file
    fd = open(DATABASE_SCHEMA_FILE, 'r')
    #get the content of the file
    sqlFile = fd.read()
    #close the file
    fd.close()
    #get the queries, which are separated by a ;
    sql_queries = sqlFile.split(';')
    
    #execute each query, one at a time
    for query in sql_queries:
        connection.execute(query)

### Add Data to Database

We are going to fill the tables just created

In [7]:
def write_dataframes_to_table(table_to_df_dict):
    ''' converts all the pandas dataframe into corresponding sql tables
    
    Keyword arguments:
    table_to_df_dict: a dictionary with name of the sql table as a key and dataframe as a value
    '''
    #we convert one by one, all the dataframes that we have in our dictionary
    for table, dataframe in table_to_df_dict.items():
        dataframe.to_sql(table, engine,if_exists='append', index=False)

In [8]:
#++++++++++++++++++++++++FOR FINAL VERSION, REMOVE THIS +++++++++++++++++++++++++++"
taxi_data=pd.read_csv("taxi_data(1).csv")
uber_data=pd.read_csv("uber_data(1).csv")
hourly_data=pd.read_csv("hourly_data.csv")
daily_data=pd.read_csv("daily_data(1).csv")

taxi_data

,pickup_datetime,tip_amount,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,distance
2069353,2015-01-06 17:29:48,0.0,40.748497,-73.99244,40.758030,-73.97770,1.63
2955397,2015-01-08 19:33:23,0.0,40.766950,-73.95963,40.765484,-73.95474,0.44
1508517,2015-01-05 07:00:59,1.0,40.748497,-73.99244,40.756687,-73.97236,1.92
3492739,2015-01-09 22:01:56,0.0,40.717773,-74.00788,40.745380,-73.94889,5.84
2759959,2015-01-08 10:10:21,1.5,40.773632,-73.98153,40.756687,-73.97236,2.04
...,...,...,...,...,...,...,...
13043900,2009-12-26 08:27:00,0.0,40.746567,-73.99752,40.754227,-73.98176,1.58
11516308,2009-12-22 07:32:26,0.0,40.770145,-73.95751,40.756283,-73.98517,2.79
889599,2009-12-26 16:02:06,0.0,40.774830,-73.98062,40.788177,-73.96725,1.86
1541093,2009-12-07 22:46:40,0.0,40.759926,-73.97318,40.774296,-73.96361,1.79
14517959,2009-12-23 07:46:23,0.0,40.685300,-73.99675,40.713448,-74.01114,3.36

In [9]:
# a dictionary with name of the sql table as a key and dataframe as a value
map_table_name_to_dataframe = {
    "taxi_trips": taxi_data,
    "uber_trips": uber_data,
    "hourly_weather": hourly_data,
    "daily_weather": daily_data,
}

In [10]:
#fill all the tables created before
write_dataframes_to_table(map_table_name_to_dataframe)

In [11]:
#TEST CELL

result=engine.execute("SELECT * FROM uber_trips LIMIT 5").fetchall()

for row in result:
    print(row)
    
uber_data

(1, '2009-08-24 21:45:00+00:00', 40.74077, -74.00504, 40.772648, -73.96256, 5.04)
(2, '2009-06-26 08:22:21+00:00', 40.790844, -73.97613, 40.80335, -73.96532, 1.66)
(3, '2014-08-28 17:47:00+00:00', 40.744083, -73.925026, 40.761246, -73.97308, 4.48)
(4, '2014-10-12 07:04:00+00:00', 40.693966, -73.96145, 40.774296, -73.87119, 11.73)
(5, '2012-02-17 09:32:00+00:00', 40.745766, -73.97519, 40.743538, -74.00272, 2.33)

,pickup_datetime,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,distance
2,2009-08-24 21:45:00+00:00,40.740770,-74.005040,40.772648,-73.962560,5.04
3,2009-06-26 08:22:21+00:00,40.790844,-73.976130,40.803350,-73.965320,1.66
4,2014-08-28 17:47:00+00:00,40.744083,-73.925026,40.761246,-73.973080,4.48
6,2014-10-12 07:04:00+00:00,40.693966,-73.961450,40.774296,-73.871190,11.73
8,2012-02-17 09:32:00+00:00,40.745766,-73.975190,40.743538,-74.002720,2.33
...,...,...,...,...,...,...
199994,2014-01-31 14:42:00+00:00,40.760770,-73.983070,40.754177,-73.972970,1.12
199996,2014-03-14 01:09:00+00:00,40.736835,-73.984720,40.739620,-74.006676,1.88
199997,2009-06-29 00:42:00+00:00,40.756490,-73.986015,40.692590,-73.858955,12.85
199998,2015-05-20 14:56:25+00:00,40.725452,-73.997120,40.695415,-73.983215,3.54
199999,2010-05-15 04:08:00+00:00,40.720078,-73.984400,40.768790,-73.985510,5.42

## Part 3: Understanding the Data

_A checklist of requirements to keep you on track. Remove this whole cell before submitting the project. The order of these tasks aren't necessarily the order in which they need to be done. It's okay to do them in an order that makes sense to you._

* [ ] For 01-2009 through 06-2015, what hour of the day was the most popular to take a yellow taxi? The result should have 24 bins.
* [ ] For the same time frame, what day of the week was the most popular to take an uber? The result should have 7 bins.
* [ ] What is the 95% percentile of distance traveled for all hired trips during July 2013?
* [ ] What were the top 10 days with the highest number of hired rides for 2009, and what was the average distance for each day?
* [ ] Which 10 days in 2014 were the windiest, and how many hired trips were made on those days?
* [ ] During Hurricane Sandy in NYC (Oct 29-30, 2012) and the week leading up to it, how many trips were taken each hour, and for each hour, how much precipitation did NYC receive and what was the sustained wind speed?

In [37]:
daily_data

           DATE  DailyWindSpeed  DailyPrecipitation
0    2009-01-01           11.04                0.00
1    2009-01-02            6.81                0.00
2    2009-01-03            9.88                0.00
3    2009-01-04            7.37                0.00
4    2009-01-05            6.93                0.00
..          ...             ...                 ...
360  2015-12-27            4.91                0.00
361  2015-12-28            8.21                0.00
362  2015-12-29            7.79                0.02
363  2015-12-30            4.18                0.01
364  2015-12-31            4.74                0.00

[2551 rows x 3 columns]

In [13]:
def write_query_to_file(query, outfile):
    
    '''It writes the given query on to the file

    Keyword arguments:
    query -- Query to write on the file
    outfile -- This is the file where the query will be written 
    '''
    with open(QUERY_DIRECTORY + outfile, "w") as f:
        f.write(query)

### Query N

_**TODO:** Write some prose that tells the reader what you're about to do here._

_Repeat for each query_

In [14]:
QUERY_1 = """
SELECT COUNT(Id) as num,strftime ('%H', pickup_datetime) 
FROM taxi_trips
WHERE pickup_datetime between '2009-01-01' and '2015-06-31'
GROUP BY strftime ('%H',pickup_datetime)
ORDER BY num DESC 
"""

In [15]:
engine.execute(QUERY_1).fetchall()

[(11616, '19'),
 (11139, '18'),
 (11012, '20'),
 (10683, '21'),
 (10373, '22'),
 (9270, '14'),
 (9230, '23'),
 (9068, '17'),
 (9057, '12'),
 (9015, '13'),
 (8960, '15'),
 (8787, '09'),
 (8555, '11'),
 (8337, '08'),
 (8332, '10'),
 (7602, '16'),
 (7219, '00'),
 (6724, '07'),
 (5668, '01'),
 (4044, '02'),
 (3812, '06'),
 (2938, '03'),
 (2132, '04'),
 (1833, '05')]

In [16]:
write_query_to_file(QUERY_1, "most_popular_hour_to_take_yellow_taxi.sql")

In [17]:
QUERY_2 = """
SELECT COUNT(Id) as num,strftime ('%w', pickup_datetime) 
FROM uber_trips
WHERE pickup_datetime between '2009-01-01' and '2015-06-31'
GROUP BY strftime ('%w',pickup_datetime)
ORDER BY num DESC 
"""

In [18]:
engine.execute(QUERY_2).fetchall()

[(28518, '5'),
 (28028, '6'),
 (27786, '4'),
 (26823, '3'),
 (25953, '2'),
 (24418, '0'),
 (23305, '1')]

In [19]:
write_query_to_file(QUERY_2, "most_popular_day_to_take_uber.sql")

In [20]:
QUERY_3= """
WITH all_hired_trips AS (
    SELECT pickup_datetime, distance
    FROM taxi_trips
    WHERE pickup_datetime between '2013-07-01' and '2013-07-31'
    UNION ALL
    SELECT pickup_datetime, distance
    FROM uber_trips
    WHERE pickup_datetime between '2013-07-01' and '2013-08-01'
)
SELECT distance
FROM all_hired_trips
ORDER BY distance 
LIMIT 1
OFFSET (SELECT COUNT(*) FROM all_hired_trips) * 95 / 100 - 1
"""

In [21]:
engine.execute(QUERY_3).fetchall()

[(10.23,)]

In [22]:
write_query_to_file(QUERY_3, "95_percentile_all_hired_trips.sql")

In [23]:
QUERY_4= """
WITH all_hired_trips AS (
    SELECT pickup_datetime, distance
    FROM taxi_trips
    WHERE pickup_datetime between '2009-01-01' and '2010-01-01'
    UNION ALL
    SELECT pickup_datetime, distance
    FROM uber_trips
    WHERE pickup_datetime between '2009-01-01' and '2010-01-01'
)
SELECT date(pickup_datetime) as day, COUNT(*) as num_rides, AVG(distance) as avg_distance
FROM all_hired_trips
GROUP BY date(pickup_datetime)
ORDER BY num_rides DESC
LIMIT 10
"""

In [24]:
engine.execute(QUERY_4).fetchall()

[('2009-12-11', 211, 3.2616113744075843),
 ('2009-07-09', 202, 3.1860396039603955),
 ('2009-07-23', 201, 3.527014925373137),
 ('2009-02-21', 201, 3.3720895522388075),
 ('2009-10-23', 200, 3.0523999999999996),
 ('2009-02-06', 200, 3.139699999999999),
 ('2009-09-12', 199, 3.2888944723618123),
 ('2009-01-31', 197, 3.012893401015228),
 ('2009-02-20', 194, 3.0074226804123727),
 ('2009-08-14', 193, 3.6655440414507763)]

In [25]:
write_query_to_file(QUERY_4, "2009_trips_data.sql")

In [26]:
QUERY_5= """
WITH all_hired_trips AS (
    SELECT date(pickup_datetime) as pickup_date, distance
    FROM taxi_trips
    UNION ALL
    SELECT date(pickup_datetime) as pickup_date, distance
    FROM uber_trips
),
windiest_days AS (
    SELECT DATE, DailyWindSpeed
    FROM daily_weather
    WHERE DATE between '2014-01-01' and '2015-01-01'
    ORDER BY DailyWindSpeed DESC
    LIMIT 10
)
SELECT wd.DATE, COUNT(*)
FROM windiest_days as wd, all_hired_trips as ht
WHERE wd.DATE == ht.pickup_date
GROUP BY wd.DATE
"""

In [27]:
engine.execute(QUERY_5).fetchall()

[('2014-01-02', 121),
 ('2014-01-07', 154),
 ('2014-02-13', 119),
 ('2014-03-13', 191),
 ('2014-03-26', 174),
 ('2014-03-29', 203),
 ('2014-11-02', 153),
 ('2014-12-07', 166),
 ('2014-12-08', 141),
 ('2014-12-09', 127)]

In [28]:
write_query_to_file(QUERY_5, "2014_windiest_days_stats.sql")

In [29]:
hourly_data

                      DATE  HourlyWindSpeed  HourlyPrecipitation
0      2009-01-01 00:51:00             18.0                  0.0
1      2009-01-01 01:51:00             18.0                  0.0
2      2009-01-01 02:51:00             18.0                  0.0
3      2009-01-01 03:51:00              8.0                  0.0
4      2009-01-01 04:51:00             11.0                  0.0
...                    ...              ...                  ...
11379  2015-12-31 18:51:00              3.0                  0.0
11380  2015-12-31 19:51:00              6.0                  0.0
11381  2015-12-31 20:51:00             10.0                  0.0
11383  2015-12-31 22:51:00              7.0                  0.0
11384  2015-12-31 23:51:00              5.0                  0.0

[73713 rows x 3 columns]

In [40]:
QUERY='''
SELECT strftime ('%Y %m %d %H', DATE) as date_hour, AVG(HourlyWindSpeed) as hourly_wind_speed, AVG(HourlyPrecipitation) as hourly_precipitation 
FROM hourly_weather
WHERE date(DATE) between '2010-01-01' and '2010-01-01'
GROUP BY date_hour


'''

In [41]:
engine.execute(QUERY).fetchall()

[('2010 01 01 00', 1.5, 0.01),
 ('2010 01 01 01', 0.0, 0.005),
 ('2010 01 01 02', 0.0, 0.0),
 ('2010 01 01 03', 0.0, 0.0),
 ('2010 01 01 04', 0.0, 0.0),
 ('2010 01 01 05', 3.0, 0.0),
 ('2010 01 01 06', 1.5, 0.0),
 ('2010 01 01 07', 3.0, 0.0),
 ('2010 01 01 08', 4.333333333333333, 0.0),
 ('2010 01 01 09', 2.5, 0.0),
 ('2010 01 01 10', 7.0, 0.0),
 ('2010 01 01 11', 5.0, 0.0),
 ('2010 01 01 12', 3.0, 0.0),
 ('2010 01 01 13', 0.0, 0.0),
 ('2010 01 01 14', 5.0, 0.0),
 ('2010 01 01 15', 0.0, 0.0),
 ('2010 01 01 16', 6.0, 0.0),
 ('2010 01 01 17', 5.0, 0.0),
 ('2010 01 01 18', 3.0, 0.0),
 ('2010 01 01 19', 6.0, 0.0),
 ('2010 01 01 20', 9.0, 0.0),
 ('2010 01 01 21', 0.0, 0.0),
 ('2010 01 01 22', 6.5, 0.0),
 ('2010 01 01 23', 9.0, 0.01)]

In [36]:
hourly_data

                      DATE  HourlyWindSpeed  HourlyPrecipitation
0      2009-01-01 00:51:00             18.0                  0.0
1      2009-01-01 01:51:00             18.0                  0.0
2      2009-01-01 02:51:00             18.0                  0.0
3      2009-01-01 03:51:00              8.0                  0.0
4      2009-01-01 04:51:00             11.0                  0.0
...                    ...              ...                  ...
11379  2015-12-31 18:51:00              3.0                  0.0
11380  2015-12-31 19:51:00              6.0                  0.0
11381  2015-12-31 20:51:00             10.0                  0.0
11383  2015-12-31 22:51:00              7.0                  0.0
11384  2015-12-31 23:51:00              5.0                  0.0

[73713 rows x 3 columns]

In [ ]:
QUERY_6='''
WITH hourly_data AS (
SELECT strftime ('%Y %m %d %H', DATE) as date_hour, AVG(HourlyWindSpeed) as hourly_wind_speed, AVG(HourlyPrecipitation) as hourly_precipitation 
FROM hourly_weather
GROUP BY date_hour ),



'''

In [50]:
QUERY_7='''
WITH RECURSIVE date_hour(x) AS ( 
            SELECT '2015-01-01' 
                UNION ALL 
            SELECT DATE(x, '+1 HOUR') FROM date_hour WHERE x<'2015-01-02' 
        ) 
SELECT *
FROM date_hour
'''

In [ ]:
engine.execute(QUERY_7).fetchall()

In [ ]:
engine.execute(QUERY_7).fetchall()

## Part 4: Visualizing the Data

_A checklist of requirements to keep you on track. Remove this whole cell before submitting the project. The order of these tasks aren't necessarily the order in which they need to be done. It's okay to do them in an order that makes sense to you._

* [ ] Create an appropriate visualization for the first query/question in part 3
* [ ] Create a visualization that shows the average distance traveled per month (regardless of year - so group by each month). Include the 90% confidence interval around the mean in the visualization
* [ ] Define three lat/long coordinate boxes around the three major New York airports: LGA, JFK, and EWR (you can use bboxfinder to help). Create a visualization that compares what day of the week was most popular for drop offs for each airport.
* [ ] Create a heatmap of all hired trips over a map of the area. Consider using KeplerGL or another library that helps generate geospatial visualizations.
* [ ] Create a scatter plot that compares tip amount versus distance.
* [ ] Create another scatter plot that compares tip amount versus precipitation amount.

_Be sure these cells are executed so that the visualizations are rendered when the notebook is submitted._

### Visualization N

_**TODO:** Write some prose that tells the reader what you're about to do here._

_Repeat for each visualization._

_The example below makes use of the `matplotlib` library. There are other libraries, including `pandas` built-in plotting library, kepler for geospatial data representation, `seaborn`, and others._

In [ ]:
# use a more descriptive name for your function
def plot_visual_n(dataframe):
    figure, axes = plt.subplots(figsize=(20, 10))
    
    values = "..."  # use the dataframe to pull out values needed to plot
    
    # you may want to use matplotlib to plot your visualizations;
    # there are also many other plot types (other 
    # than axes.plot) you can use
    axes.plot(values, "...")
    # there are other methods to use to label your axes, to style 
    # and set up axes labels, etc
    axes.set_title("Some Descriptive Title")
    
    plt.show()

In [ ]:
def get_data_for_visual_n():
    # Query SQL database for the data needed.
    # You can put the data queried into a pandas dataframe, if you wish
    raise NotImplemented()

In [ ]:
some_dataframe = get_data_for_visual_n()
plot_visual_n(some_dataframe)